@charset "utf-8";
/* CSS Document */
/*----------------------------------Author:lvzhaohua&leo.lv-----------------------------*/
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,img{padding:0;margin:0 auto;border:0;}
html,body{width:100%;height:100%;font-size:12px;font-family:"宋体";color:#333;background-color:#fff;}
ol,ul,li{list-style-type: none;}
table {border-collapse: collapse;border-spacing: 0;}
fieldset,img {border: 0;}
img{list-style:none;list-style-type:none;}
address,caption,cite,code,dfn,em,strong,th,var {font-weight: normal;font-style: normal;}
caption,th {text-align: left;}
h1,h2,h3,h4,h5,h6 {font-weight: normal;font-size: 100%;}
h2{font-size:14px;font-weight:bold;}
q:before,q:after {content:”;}
abbr,acronym { border: 0;}
.clearbh:after{height:0;visibility:hidden;display:block;clear:both;content:" ";}
.clearbh{ clear:both;font-size:0; height:0; overflow:hidden;display:inline-block;}
/* fix IE hack \*/
*html .clearbh{height:1%;}
.left{float:left;}
.right{float:right;}
a.t_link1,a.t_link1:hover,a.t_link1:active{color:#fff;}
/*--------------------------------------全局样式结束------------------------*/


.wap_wrap,.wap_content,.wap_content2,.wap_search,.wap_searchcn1,.wap_searchp1,.wap_searchp2,.wap_cn1,.wap_cn2{overflow:hidden;zoom:1;}

.wap_wrap{width:246px;height:459px;background:url(../images/body_bg.jpg) left top no-repeat;padding:77px 0px 0px 25px;}

.wap_content,.wap_banner{width:222px;}
.wap_content{height:353px;}

.wap_banner{height:40px;}

.wap_huanying{width:162px;height:42px;margin-top:5px;background:url(../images/logo.jpg) 6px top no-repeat;padding:10px 0px 0px 50px;text-align:left;color:#d23802;line-height:18px;}

.wap_search{width:216px;padding-left:6px;}

.wap_searchcn1{width:220px;height:auto;}

.wap_searchp1{width:154px;height:22px;padding:0px 0px 0px 5px;}
.wap_searchp1 input{width:150px;height:18px;line-height:18px;text-align:left;font-size:12px;color:#666;border:1px solid #f48102;}
.wap_searchp2{width:51px;height:20px;}
.wap_searchp2 input{width:51px;height:20px;cursor:pointer;}
.wap_searchul{width:204px;border-bottom:1px dotted #bfb8b0;padding:5px 0 5px 6px;}
.wap_searchulp1{width:160px;text-align:left;line-height:20px;color:#333;float:left;}
.wap_searchul li{width:192px;height:18px;float:left;text-align:left;line-height:18px;overflow:hidden;padding-left:10px;background:url(../images/icon_1.jpg) left 8px no-repeat;}
.wap_searchul li a{font-size:12px;color:#035de5;text-decoration:none;}
.wap_searchul li a:hover,.wap_searchul li a:active{text-decoration:underline;}

.wap_content2{width:210px;height:150px;padding-top:10px;}
.wap_cn1,.wap_cn2{width:206px;text-align:left;line-height:18px;font-size:12px;padding-bottom:5px;padding-left:4px;}
.wap_cn1{color:#333;}
.wap_cn2{color:#999;}
.wap_cn2 span{font-weight:bold;color:#ed7106;}





