@charset "utf-8";
/* CSS Document */
/*----------------------------------Author:lvzhaohua-----------------------------*/
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,img{padding:0;margin:0 auto;border:0;}
html,body{width:100%;height:100%;font-size:12px;font-family:"宋体";color:#333;background-color:#fff;}
ol,ul,li{list-style-type: none;}
table {border-collapse: collapse;border-spacing: 0;}
fieldset,img {border: 0;}
img{list-style:none;list-style-type:none;}
address,caption,cite,code,dfn,em,strong,th,var {font-weight: normal;font-style: normal;}
caption,th {text-align: left;}
h1,h2,h3,h4,h5,h6 {font-weight: normal;font-size: 100%;}
h2{font-size:14px;font-weight:bold;}
q:before,q:after {content:”;}
abbr,acronym { border: 0;}
.clearbh:after{height:0;visibility:hidden;display:block;clear:both;content:" ";}
.clearbh{ clear:both;font-size:0; height:0; overflow:hidden;display:inline-block;}
/* fix IE hack \*/
*html .clearbh{height:1%;}
.left{float:left;}
.right{float:right;}
a.t_link1,a.t_link1:hover,a.t_link1:active{color:/*[text_color]*/#7f1400/*[/text_color]*/;}
/*--------------------------------------全局样式结束------------------------*/

#mainDiv{position:relative;width:100%;height:100%;background:/*[bg_color]*/#FFC571/*[/bg_color]*/ url(../images/bg.png) left top repeat-x;}

#headerDiv{position:absolute;top:0px;height:99px;width:100%;background:url(../images/bg_corner_tl.png) left top no-repeat;}
.top_right_corner{width:100%;height:100%;background:url(../images/bg_corner_tr.png) right top no-repeat;}
#logoDiv{width:260px;height:82px;padding:10px 0 0 20px;float:left}
#shortcutDiv{padding:8px 8px 0 10px;height:92px;float:right}
#shortcutDiv a{font-size:12px;}
#shortcutDiv a{color:#fff;}
#shortcutDiv a,a.t_link1,a.blue_link1,a.t_link2{text-decoration:none;}
#shortcutDiv a,.t_color1,.t_color3{font-weight:bold;}
#shortcutDiv a:hover,#shortcutDiv a:active,a.t_link1:hover,a.t_link1:active,a.blue_link1:hover,a.blue_link1:active,a.t_link2:hover,a.t_link2:active{text-decoration:underline;}
.shortcut_cls{width:74px;height:92px;float:left;}


#panelDiv{position:absolute;top:99px; bottom:9px;width:100%;}
#leftSpacer{position:absolute;left:0px;height:100%;width:9px;background:url(../images/bg_border_l.gif) left top repeat-y;}
#centerSpacer{position:absolute;right:520px;height:100%;width:10px;}
#collapseBtn{position:absolute;top:45%;left:3px;height:20px;width:6px;cursor:pointer;}
.collapseBtnImg{border:none;position: absolute;top:4px;}
#rightSpacer{position:absolute;right:0px;height:100%;width:9px;background:url(../images/bg_border_r.gif) right top repeat-y;}


#leftPanelDiv{position:absolute;top:-2px; left:8px; right:528px; height:100%;border:1px solid /*[border_color]*/#fe9a08/*[/border_color]*/;background-color:#fff;z-index:10000;}

#outputDiv{position:absolute;top:0px; bottom:138px; width:100%}
#outputArea{position:absolute;top:0px; bottom:0px;left:0px; right:0px;overflow-x:hidden;overflow-y:scroll;padding:0;}

#toolbarDiv{bottom:108px; height:30px; width:100%;position:absolute;}
#toolbar{width:100%;background:url(../images/bg_toolbar.gif) left top repeat-x;height:30px;line-height:30px;padding:1px 0}
#toolbar a{margin-right: 5px}
#toolbar span{float:left;color:/*[text_color_city]*/#f5610b/*[/text_color_city]*/}
	
#inputDiv{position:absolute;bottom:0px; height:108px; width:100%;}
#inputArea{padding:6px;width:100%;height:92px;font-size:12px;font-color:#666;line-height:18px;text-align:left;text-indent:0;overflow:auto;}
#inputAreaDiv{position:absolute;left:0;right:124px;height:100%;}
#inputButtonDiv{position:absolute;right:0;width:100px;height:84px;padding:24px 0 0 24px;}

#rightPanelDiv{position:absolute;top:-2px; right:9px; width:510px; height:100%;}

#activityDiv{position:absolute;width:100%;left:-1px; border:1px solid /*[border_color]*/#fe9a08/*[/border_color]*/;background-color:#fff;bottom:36px;top:0}
#activityTabDiv{position:absolute;top:0;height:35px;left:12px;right:20px;padding:8px 5px 0 5px;overflow:hidden;}
#activityTabDivMask{position:relative;top:0;right:0;*right:0;_right:6px;overflow:hidden;width:100%;*width:100%;_width:90%;}
#activityTabDiv ul{position:relative;height:27px;background:url(../images/bg_tab_border.gif) left 25px repeat-x;padding:0 0 5px 2px;}
#activityTabDiv ul li{width:75px;height:27px;line-height:24px;text-align:center;color:/*[text_color_tab]*/#e74505/*[/text_color_tab]*/;background:url(../images/bg_tab.gif) left bottom no-repeat;float:left;margin-right:4px;}
#activityTabDiv ul li.active{width:75px;height:27px;line-height:24px;text-align:center;color:/*[text_color_tab_active]*/#e74505/*[/text_color_tab_active]*/;background:url(../images/bg_tab_active.gif) left bottom no-repeat;float:left;margin-right:4px;}
#activityTabTitle{width:60px;float:left;cursor:pointer;}
#activityTabCloseBtn{width:8px;float:right;padding:3px 4px 0 0;}
#activityPanelDiv{position:absolute;padding:5px;bottom:0;top:35px;left:2px;right:1px;}
#tab_left{display:none;z-index:999;position:absolute;left:0px;top:8px;color:#E74505;padding:5px 3px;cursor:pointer;}
#tab_right{display:none;z-index:999;position:absolute;right:5px;top:8px;color:#E74505;padding:5px 3px;cursor:pointer;}

#introDiv{position:absolute;bottom:0;height:36px;line-height:36px;}

#footerDiv{position:absolute;bottom:0;height:9px;width:100%;font-size:1px;line-height:0;background:url(../images/bg_footer.png) left bottom repeat-x;}
.bottom_left_corner{width:9px;height:9px;font-size:1px;line-height:0;background:url(../images/bg_corner_bl.png) left bottom no-repeat;float:left;}
.bottom_right_corner{width:9px;height:9px;font-size:1px;line-height:0;background:url(../images/bg_corner_br.png) right bottom no-repeat;float:right;}

a.blue_link{color:#0660f6;text-decoration:none;}
a.blue_link:hover,a.blue_link:active{text-decoration:underline;}
a.emobtn,a.fontbtn,a.fontbtn_sel{width:23px;height:28px;display:block;text-decoration:none;float:left}
a.emobtn{background:url(../images/btn_emo.gif) left top no-repeat;}
a.emobtn:hover,a.emobtn:active,a.fontbtn:hover,a.fontbtn:active,a.fontbtn_sel{text-decoration:none;}
a.emobtn:hover,a.emobtn:active{background:url(../images/btn_emo_hover.gif) left top no-repeat;}
a.fontbtn{background:url(../images/btn_font.gif) left top no-repeat;}
a.fontbtn:hover,a.fontbtn:active,a.fontbtn_sel{background:url(../images/btn_font_hover.gif) left top no-repeat;}


#fontDiv{position:absolute;top:0px;left:0px;display:none;width:200px;height:24px;padding:2px 0 0 2px;background-color:/*[bg_color_divwin]*/#F2FFEB/*[/bg_color_divwin]*/;border:1px solid /*[border_color_divwin]*/#F5680E/*[/border_color_divwin]*/;}
.font_size{height:22px;line-height:22px;font-size:12px;color:#333;padding-left:5px;float:left;}
a.t_B,a.t_B_sel,a.t_I,a.t_I_sel,a.t_U,a.t_U_sel,a.t_CL,a.t_CL_sel{width:20px;height:22px;display:block;text-decoration:none;float:left;}
a.t_B{background:url(../images/menu_bold.gif) left top no-repeat;}
a.t_B:hover,a.t_B:active,a.t_B_sel{background:url(../images/menu_bold_hover.gif) left top no-repeat;text-decoration:none;}
a.t_I{background:url(../images/menu_italic.gif) left top no-repeat;}
a.t_I:hover,a.t_I:active,a.t_I_sel{background:url(../images/menu_italic_hover.gif) left top no-repeat;text-decoration:none;}
a.t_U{background:url(../images/menu_underline.gif) left top no-repeat;}
a.t_U:hover,a.t_U:active,a.t_U_sel{background:url(../images/menu_underline_hover.gif) left top no-repeat;text-decoration:none;}
a.t_CL{background:url(../images/menu_color.gif) left top no-repeat;}
a.t_CL:hover,a.t_CL:active,a.t_CL_sel{background:url(../images/menu_color_hover.gif) left top no-repeat;text-decoration:none;}

#emoDiv{position:absolute;top:0px;left:0px;display:none;width:325px;background-color:#fff;z-index:100;border:1px solid /*[border_color_divwin]*/#f5680e/*[/border_color_divwin]*/;}
#emoDiv .emo_title{background-color:/*[bg_color_divwin]*/#fff2df/*[/bg_color_divwin]*/;height:30px;width:100%;line-height:30px}
a.emo_close_btn{color:/*[text_color_close]*/#c23b04/*[/text_color_close]*/;float:right;padding-right:8px}

#userarea {
   width:400px;
   height:75px;
   margin: 0 0 0 6px;
   background-color: #FFF;
}
#userarea p {
   font-weight: bold;
   font-size: 13px;
   margin-bottom: 3px;
}
#userarea p a {
   color:#888;
   text-decoration: none;
   font-weight: normal;
   font-size: 12px;
}
#userarea p a:hover {
   color: #1b82f6;
   text-decoration: underline;
   font-weight: normal;
   font-size: 12px;
}
#userarea .areabox {
  margin-right:12px;
  float: left;
  line-height: 18px;
}

.clear {
   clear: both;
   font:0 arial;
   height: 0;
   overflow: hidden;
}

/* ------- output div ------------- */
#outputArea{
	font-size: 11px;
	color: blue;
	word-break:break-all;
	padding: 5 20 5 7;	
	overflow: auto;
	
}

#outputArea a {
	color: #0b2782;
	font-size: 12px;
}

#outputArea a:link {
	color: #0b2782;
	font-size: 12px;
	text-decoration: underline;
	line-height: 120%
}

#outputArea a:hover {
	color: #012dbf;
	font-size: 12px;
	text-decoration: underline;
}

#outputArea .ddd {
	color: #bbb;
	font-size: 12px;
	cursor: text;
}

#outputArea.ddd:link {
	color: #bbb;
	font-size: 12px;
	text-decoration: none;
	line-height: 120%;
	cursor: text;
}

#outputArea .ddd:hover {
	color: #bbb;
	font-size: 12px;
	text-decoration: none;
	cursor: text;
}

.addItem {
	float: left;
	width: 350px;
	padding: 5px 10px;
}

.toLink {
	float: left;
	margin-left: 3px;
}

.acrossDrag2 {
	font-weight: 600;
	padding-left: 10px;
	color: #e0521e;
}

.acrossDrag2 {
	border-bottom: 1px solid #d9e3ec;
	padding: 5px 10px;
	text-align: right;
}

.txt_style {
	background: transparent url(../images/input_bg01.gif) no-repeat scroll
		left center;
	border: 1px solid #CCCCCC;
	height: 22px;
	padding: 4px;
	width: 120px;
}

.txt_style2 {
	border: 1px solid #CCCCCC;
	height: 22px;
	padding: 4px;
	width: 120px;
}

#outputArea .userName {
	color: #11952d;
	font-weight: ;
	margin-top: 8px;
}

#outputArea .userContent {
	color: #2272bd;
	padding-left: 15px;
}

#outputArea .robotName {
	color: #84b0d3;
	font-weight: bolder;
	margin-top: 8px;
}

#outputArea .robotContent {
	color: #10528f;
	padding-left: 15px;
}

#outputArea .messageDate {
	color: #999999;
	padding-left: 10px;
}

.chat-segment{
	font-family: Arial,'宋体';
	font-size: 12px;
	padding: 0 5px 3px 5px;
}
.inputbox_default_style {
	color:#888;
}
.inputbox_active_style {

}

/* ------- output div ------------- */

.p4tabs_panel iframe{
	width: 100%;
	height: 100%;
	border: 0px;
}

.p4tabs_panel {
	display: none;
	width: 100%;
	height: 100%;
	clear: both;
	overflow: hidden;	
}

.p4tabs_panel.active {
	display: block;
}

#micButtonDiv {
    height: 20px;
    padding: 24px 0 0 24px;
    position: absolute;
    right: 1500px;
    bottom : 120px;
    width: 20px;
    z-index: 9999;
}