@charset "utf-8";
/* CSS Document */
/* CSS Document */
/*----------------------------------Author:lvzhaohua&leo.lv-----------------------------*/
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,img{padding:0;margin:0 auto;border:0;}
html,body{width:100%;height:100%;font-size:12px;font-family:"宋体";color:#333;background-color:#fff;}
ol,ul,li{list-style-type: none;}
table {border-collapse: collapse;border-spacing: 0;}
fieldset,img {border: 0;}
img{list-style:none;list-style-type:none;}
address,caption,cite,code,dfn,em,strong,th,var {font-weight: normal;font-style: normal;}
caption,th {text-align: left;}
h1,h2,h3,h4,h5,h6 {font-weight: normal;font-size: 100%;}
h2{font-size:14px;font-weight:bold;}
q:before,q:after {content:”;}
abbr,acronym { border: 0;}
.clearbh:after{height:0;visibility:hidden;display:block;clear:both;content:" ";}
.clearbh{ clear:both;font-size:0; height:0; overflow:hidden;display:inline-block;}
/* fix IE hack \*/
*html .clearbh{height:1%;}
.left{float:left;}
.right{float:right;}
a.t_link1,a.t_link1:hover,a.t_link1:active{color:#fff;}
/*--------------------------------------全局样式结束------------------------*/
.iphone_wrap,.iphone_content,.iphone_inputcn,.iphone_leftcn,.gray_content{overflow:hidden;zoom:1;}
.iphone_wrap{width:245px;height:457px;background:url(../images/phone_bg.jpg) left top no-repeat;padding:77px 0px 0px 24px;}
.iphone_content,.iphone_inputcn{width:222px;float:left;}
.iphone_content{height:312px;}
.iphone_inputcn{height:40px;background-color:#cbcacf;}
.iphone_p1{width:158px;padding:10px 0 0 7px;float:left;height:31px;background:url(../images/input_box.jpg) 3px 5px no-repeat;}
.iphone_p1 input{width:140px;height:20px;line-height:20px;font-size:12px;color:#333;text-align:left;padding:0 5px;}
.iphone_p2{padding:7px 0 0 3px;float:left;}
.iphone_leftcn{width:193px;height:312px;float:left;padding:0 5px;}
.iphone_scrollbar{width:12px;height:300px;float:left;background:url(../images/axis_bg.jpg) 5px top repeat-y;overflow:hidden;padding-top:3px;margin-top:5px;}
.iphone_scrollbar img{cursor:pointer;}
.gray_content,.green_content{padding-top:6px;}
.gray_content,.gray_cn1,.green_content,.green_cn1{width:189px;overflow:hidden;}
.gray_contentp1,.green_contentp1{width:183px;padding-left:6px;line-height:20px;text-align:left;font-size:12px;color:#666;}
.gray_cn1,.gray_cn2,.gray_cn3{float:left;}
.green_cn1,.green_cn2,.green_cn3{float:right;}
.gray_cn3,.green_cn3{width:179px;padding:5px 4px 15px 6px;line-height:18px;text-align:left;}
.gray_cn1{background:url(../images/gray_bg.jpg) left top repeat-y;}
.gray_cn2{background:url(../images/gray_topbg.jpg) left top no-repeat;}
.gray_cn3{background:url(../images/gray_bottonbg.jpg) left bottom no-repeat;}
.green_cn1{background:url(../images/green_bg.jpg) left top repeat-y;}
.green_cn2{background:url(../images/green_topbg.jpg) left top no-repeat;}
.green_cn3{background:url(../images/green_bottonbg.jpg) left bottom no-repeat;}
/*----------------------------------Author:lvzhaohua&leo.lv-----------------------------*/