html,body,ul,li,p,dl,dt,dd,h1,h2,h3,h4,h5,h6,input,form,ol {
	margin: 0 0 0 3px;
	padding: 0
}

.clear {
	clear: both;
	height: 0;
	overflow: hidden;
	height: 0px;
}

a {
	outline: none;
}

img {
	vertical-align: top;
	border: 0;
	margin: 0 auto;
	height: auto !important;
	max-width: 100% !important;
}

body {
	background: #faf9f8;
	font-family: arial, \"Hiragino Sans GB\", \"Microsoft Yahei\",
		sans-serif;
	width: 90%;
	margin: 0 5%;
}

p {
	width: 100%;
	height: auto;
	display: block;
	line-height: 2em;
	font-size: 16px;
	font-family: arial, \"Hiragino Sans GB\", \"Microsoft Yahei\",
		sans-serif;
}

p strong {
	font-size: 16px;
	font-family: arial, \"Hiragino Sans GB\", \"Microsoft Yahei\",
		sans-serif;
}

p a {
	font-style: normal;
	font-size: 14px;
	text-decoration: none;
	font-family: arial, \"Hiragino Sans GB\", \"Microsoft Yahei\",
		sans-serif;
}

p a img {
	display: block;
	text-align: center;
	margin: 0 auto;
	height: auto !important;
	max-width: 100% !important;
}

p a:hover,p a:active {
	color: #4f9cda;
	font-style: normal;
	text-decoration: underline;
}

p img {
	text-align: center;
	margin: 0 auto;
	display: block;
	height: auto !important;
	max-width: 100% !important;
}

.shouji_title {
	width: 100%;
	display: block;
	height: auto;
	padding-top: 5px;
	line-height: 40px;
	font-family: arial, \"Hiragino Sans GB\", \"Microsoft Yahei\",
		sans-serif;
	border-bottom: 1px solid #efeae3;
	font-size: 20px;
	font-weight: bold;
	color: #370000;
	word-break: break-all;
}

.shouji_zuozhe {
	width: 100%;
	height: 40px;
	line-height: 40px;
}

.shouji_zuozhe span {
	color: #8c8c8c;
	font-size: 12px;
	float: left;
	margin-right: 15px;
	font-family: arial, \"Hiragino Sans GB\", \"Microsoft Yahei\",
		sans-serif;
}

p span a {
	display: block;
	color: #CCC;
	float: right;
}