@charset "utf-8";

p,td,th,select,dd,dl,dt,ul,ol,li,textarea {
	font-family: "Microsoft YaHei", Helvetica, Verdana, Arial, Tahoma;
	font-size: 14px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	border: 0;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

a:visited,a:link {
	text-decoration: none;
}

a {
	color: #2E7DC6;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clr {
	clear: both;
}

.material_content {
	margin-left: -10px;
    margin-top: -10px;
	min-height: 455px;
	padding: 20px;
	width: 727px;
}

.list_title {
	padding: 2px 10px;
	background-color: #F1F1F1;
	border: 1px solid #D3D3D3;
	border-radius: 3px 3px 3px 3px;
	overflow: hidden;
	height:25px;
}

.title {
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
}

.opt {
	text-align: center;
	width: 150px;
}

.list_content {
	width: 707px;
	padding: 0px 10px 10px;
}

.list_item {
	padding: 10px 0px;
	border-bottom: 1px solid #d3d3d3;
}

.file_name_area {
	margin-bottom:5px;
	border:0px solid #ddd;
	height:30px;
	line-height:30px;
}

.file_name {
	line-height: 30px;
	height:28px;
	display: block;
	font-family: "Microsoft YaHei", Helvetica, Verdana, Arial, Tahoma;
	font-size: 14px;
}

.xi_img {
	position: relative;
	float: left;
	cursor: pointer;
}

.img_loading {
	background: url(../images/loader.gif) no-repeat scroll 0 0 transparent;
	position: absolute;
	display: block;
	width: 31px;
	height: 31px;
	z-index: 1000;
	top: 50%;
	left: 50%;
	margin-top: -15px;
	margin-left: -15px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	display: none;
}

.xi_imgloading {
	display: block;
}

.oper,.size {
	width: 150px;
	text-align: center;
	color: #aaaaaa;
}

.icon18 {
	background: url(../images/icon18.png) no-repeat scroll 0 0 transparent;
	display: block;
	height: 18px;
	width: 18px;
	margin-left: 3px;
}

.icon18 {
	display: inline-block;
	margin-left: 3px;
}

.icon_edit {
	background-position: 0px -1px;
}

.icon_edit:hover {
	background-position: -28px -1px;
}

.icon_download {
	background-position: 0px -28px;
}

.icon_download:hover {
	background-position: -28px -28px;
}

.icon_del {
	background-position: 0px -56px;
}

.icon_del:hover {
	background-position: -28px -56px;
}

#materialImgFile {
	position: relative;
	width: 450px;
	height: 30px;
}

#materialImgFile input {
	position: absolute;
	top: 0px;
	left: 8px;
	width: 60px; 
	height: 28px;
}
#materialImgFile a:hover {
	text-decoration: underline;
}

#materialImage {
	FILTER: alpha(opacity = 0);
	opacity: 0;
	-moz-opacity: 0
}

#materialAudioFile {
	position: relative;
	width: 450px;
	height: 30px;
}

#materialAudioFile input {
	position: absolute;
	top: 0px;
	left: 8px;
	width: 60px; 
	height: 28px;
}

#materialAudio {
	FILTER: alpha(opacity =  0);
	opacity: 0;
	-moz-opacity: 0
}

#materialVideoFile {
	position: relative;
	width: 450px;
	height: 30px;
}

#materialVideoFile input {
	position: absolute;
	top: 0px;
	left: 8px;
	width: 60px; 
	height: 28px;
}

#materialVideo {
	FILTER: alpha(opacity =       0);
	opacity: 0;
	-moz-opacity: 0
}

.audioBox {
	position: relative;
}

.mediaBox {
	cursor: pointer;
	position: relative;
	float: left;
	margin-left: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: #a0ce3d;
	padding: 10px 10px 10px 10px;
	border: 1px solid #87a058;
	box-shadow: 0 2px 2px #aaaaaa;
	-moz-box-shadow: 0 2px 2px #aaaaaa;
	-webkit-box-shadow: 0 2px 2px #aaaaaa;
}

.audioBox .mediaContent {
	width: 120px;
	height: 21px;
}

.mediaBox .mediaContent {
	float: left;
	overflow: hidden;
}

.mediaBox .mediaContent::after {
	clear: both;
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
}

.audioBox .audioTxt {
	text-shadow: 0 1px 1px #506c18;
	color: #f7ffe7;
	line-height: 21px;
	cursor: pointer;
}

.audioBox .audioIco {
	position: absolute;
	top: 12px;
	display: none;
}

.audioIco {
	background: url('../images/icon_voice_playing.gif') no-repeat scroll 0 0
		transparent;
	width: 17px;
	height: 21px;
	display: block;
}

.mediaBox .iconArrow {
	display: block;
	position: absolute;
	top: 8px;
	left: -7px;
}

.iconArrow {
	background: url('../images/arrow.png') no-repeat scroll 0 0 transparent;
	width: 12px;
	height: 15px;
}

.oper a {
	font-family: "宋体";
	font-size: 12px;
	line-height: 1.5;
	font-size: 12px;
}