html,body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

div,ul,li {
	padding: 0;
	text-align: center;
}

body {
	font: 12px "宋体";
	text-align: center;
	position: relative;
}

a:link {
	color: #00F;
	text-decoration: none;
}

a:visited {
	color: #00F;
	text-decoration: none;
}

a:hover {
	color: #c00;
	text-decoration: underline;
}

ul {
	list-style: none;
}

#tabs {
	position: absolute;
	top: 0;
	bottom: 0;
	left : 0;
	right : 0;
	margin: 10px;
	padding: 0px;
}

#name_box {
	position: absolute;
	top: 0;
	left : 0;
	right : 0;
	background: url(../images/template/tab_bg.gif) repeat-x;
	height: 28px;
	line-height: 28px;
	border-right: 1px solid #A8C29F;
}

#name_box span {
	float: left;
	display: block;
	cursor: pointer;
	width: 114px;
	text-align: center;
	color: #949694;
	font-weight: bold;
}

#name_box span.hover {
	padding: 0px;
	width: 116px;
	border-left: 1px solid #A8C29F;
	border-top: 1px solid #A8C29F;
	border-right: 1px solid #A8C29F;
	background: url(../images/template/tab_on.gif);
	color: #739242;
	font-weight: bold;
	height: 27px;
	line-height: 27px;
}

#content_box {
	position: absolute;
	top: 28px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-top: 0px;
	border: 1px solid #A8C29F;
	border-top: none;
}

#content_url {
	position: absolute;
	top: 0;
	height: 20px;
	left : 0;
	line-height: 20px;
	margin: 10px;
	padding-left: 5px;
	text-align: left;
	font: bold 14px "tohama";
	color: #739242;
}
#content_url a:link {
	color: #739242;
}
#content_url a:visited {
	color: #739242;
}
#content_url a:hover {
	color: #739242;
}


#content_iframe {
	position: absolute;
	top: 20px;
	bottom: 0;
	left : 0;
	right : 0;
	margin: 10px;
}
#content_iframe iframe{
	width:100%;
	height:100%;
}

.hidden {
	display: none;
}